# -*- mode: ruby -*-
# vi: set ft=ruby :

VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
  config.vm.box = "{{ vagrant_vm_box }}"

  config.vm.network "private_network", ip: "{{ vagrant_private_network_ip }}"
  {% if vagrant_hostname is defined %}
    config.vm.hostname = "{{ vagrant_hostname }}"
  {% endif %}

  config.vm.provider "virtualbox" do |vb|
    vb.name = "{{ inventory_hostname }}"
    vb.cpus = 1
    vb.memory = {{ vagrant_vm_memory_mb }}
  end

  config.vm.provision :shell, :inline => "sudo apt-get -y update"
end
